name: Deploy

on:
  push:
    branches:
      - master

jobs:
  dev:
    runs-on: ubuntu-latest
    environment: Dev
    steps: 
    - uses: actions/checkout@v3
    - uses: akhileshns/heroku-deploy@v3.12.12
      with:
        heroku_email: carlosroque198@gmail.com
        heroku_api_key: 9c290e67-f188-47fd-bcd3-df00d584f702
        heroku_app_name: configuracion-final
  stage:
    needs: dev
    runs-on: ubuntu-latest
    environment: Stage
    steps: 
    - uses: actions/checkout@v3
    - uses: akhileshns/heroku-deploy@v3.12.12
      with:
        heroku_email: carlosroque198@gmail.com
        heroku_api_key: 9c290e67-f188-47fd-bcd3-df00d584f702
        heroku_app_name: configuracion-final
  prod:
    needs: stage
    runs-on: ubuntu-latest
    environment: Prod
    steps: 
    - uses: actions/checkout@v3
    - uses: akhileshns/heroku-deploy@v3.12.12
      with:
        heroku_email: carlosroque198@gmail.com
        heroku_api_key: 9c290e67-f188-47fd-bcd3-df00d584f702
        heroku_app_name: configuracion-final
